#  Cors Allowed Origins สำหรับค่าเริ่มต้น สามารถเปลี่ยนได้ในแอป
CORS_ALLOWED_ORIGINS="https://localhost:5173"

#  ตัวแปรสําหรับการเชื่อมต่อกับ database provider mssql
DATABASE_URL="sqlserver://<host>:<port>;database=<db_name>;user=<username>;password=<password>;encrypt=false;trustServerCertificate=true"

NODE_ENV=dev
# NODE_ENV=production

# เข้ารหัสสำหรับข้อมูลละเอียดอ่อน เก็บใน db
ENCRYPTION_SECRET="<your-secret>"



